{% extends "layout.html" %}
{% block content %}
    <!-- Required meta tags -->
    <form method="POST">
      <style>
        body  {
          background-image: url("https://a-static.besthdwallpaper.com/street-night-city-art-wallpaper-3840x2160-81325_54.jpg");
          /* Center and scale the image nicely */
          background-repeat: no-repeat;
          background-size: cover;
        }
        .content {
        max-width: 800px;
        margin: auto;
  }
    </style>
    <div><h1 > </h1> </div> 
      <div class="mask d-flex align-items-center h-100">
        <div align="center" class="container">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="card shadow-2-strong">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                    <table class="table table-dark mb-0">
                      <thead style="background-color: #0099ff;">
                        <tr class="text-uppercase text-success">
                          <th scope="col">User Id</th>
                          <th scope="col">Email</th>
                          <th scope="col">Name</th>
                          <th scope="col">Member Status</th>
                        </tr>
                        
                      </thead>
                      <tbody>
                        {% for item in user %}
                        <tr>
                          <td>{{item.id}}</td>
                          <td>{{item.email}}</td>
                          <td>{{item.firstName}}</td>
                          <td>{{item.account}}</td>
                         
                        </tr>
                        {%endfor%}
                      </form>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}