{% extends "layout.html" %}

{% block content %}
<header>
    <div class="container-md">
      <div class="row">
        <div class="col-md-12">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="img"><img class="d-block img-fluid" src="https://cdn.discordapp.com/attachments/891614802424774687/952508054216261662/2222.png" alt="First slide"></div>
              </div>
              <div class="carousel-item">
                <div class="img"><img class="d-block img-fluid" src="https://cdn.discordapp.com/attachments/891614802424774687/952508056200151090/4564564.png" alt="Second slide"></div>
              </div>
              <div class="carousel-item">
                <div class="img"><img class="d-block img-fluid" src="https://cdn.discordapp.com/attachments/891614802424774687/952508111581761586/1234.jpg" alt="Third slide"></div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <body>
  <!-- กล่อง คำเขียนเฉยๆ -->
  <bar>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>What's Popular<span class="badge rounded-pill bg-danger"> New</span></h2>       
        </div>
      </div>
    </div>
  </bar>
  <!--***************************************************************** Anime list เเถว 1 *****************************************************************-->
  <midpoint>
    <!-- เเถว 1 เรื่อง 1 -->
    <form method="POST">
    <div class="container-md">
      <div class="row">
        <div class="col-md-2">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/952577100995502091/fate-grand-order-zettai-majuu-sensen-babylonia-.jpg" alt="Card image cap" >
              <div class="card-body">
                <a href="/page/Fate grand order" class="btn btn-outline-dark">Overview</a>

              </div>
            </div>
          </div>         
        </div>
        <!-- เเถว 1 เรื่อง 2 -->
        <div class="col-md-2">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/952508054572793876/3271.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="/page/Hero Academy" class="btn btn-outline-dark">Overview</a>
              </div>
            </div>
          </div>
        </div>
        <!-- เเถว 1 เรื่อง 3 -->
        <div class="col-md-2">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/953681203783954442/qn6t4lif1QHkxjajDw-o.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="/page/Attack on titan" class="btn btn-outline-dark">Overview</a>
              </div>
            </div>
          </div>
        </div>
        <!-- เเถว 1 เรื่อง 4 -->
        <div class="col-md-2">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/952508055508111370/4545.png" alt="Card image cap">
              <div class="card-body">
                <a href="/page/Kimetsu no Yaiba" class="btn btn-outline-dark">Overview</a>
              </div>
            </div>
          </div>
        </div>
    </form>
        <!-- ตารางเเสดงสภานะ Rating Anime -->
        <div class="col-md-4">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Berserk</td>
                <td>100%</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Black Rock Shooter</td>
                <td>97%</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Pandora hearts</td>
                <td>95%</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>K-On!</td>
                <td>89%</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Kuso Miso Technique</td>
                <td>89%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </midpoint>
  <!--***************************************************************** Anime list เเถว 2 *****************************************************************-->
  <midpoint2>
    <!-- เเถว 2 เรื่อง 1 -->
    <div class="row">
      <div class="col-md-2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/953616798174027776/dddd.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="/page/One piece" class="btn btn-outline-dark">Overview</a>
            </div>
          </div>
        </div>        
      </div>
      <!-- เเถว 2 เรื่อง 2 -->
      <div class="col-md-2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/953681202798268456/71qAMwHuhL._RI_.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="/page/Overlord: The Undead King" class="btn btn-outline-dark">Overview</a>
            </div>
          </div>
        </div>       
      </div>
      <!-- เเถว 2 เรื่อง 3 -->
      <div class="col-md-2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/953618076673376276/55555555.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="/page/Bleach" class="btn btn-outline-dark">Overviewg</a>
            </div>
          </div>
        </div>      
      </div>
      <!-- เเถว 2 เรื่อง 4 -->
      <div class="col-md-2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/952508112261218324/147.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="/page/Fire Force" class="btn btn-outline-dark">Overviewg</a>
            </div>
          </div>
        </div>
      </div>
    <!-- ตารางเเจ้ง Anime ที่จะเข้ามา Next season -->
    <div class="col-md-4">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Next Season</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Spy x Family</td>
            <td>Apr 9, 2022</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Date A Live IV</td>
            <td>Apr 8, 2022</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Yuusha, Yamemasu</td>
            <td>Apr 5, 2022</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Summertime Render</td>
            <td>Apr 15, 2022</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Hunter x Hunter ss2</td>
            <td>Feb 30, 2040</td>
          </tr>
        </tbody>
      </table>
    </div>
  </midpoint2>

<!--***************************************************************** Anime list เเถว 3 *****************************************************************-->
  <midpoint3>
    <!-- เเถว 3 เรื่อง 1 -->
    <div class="row">
      <div class="col-md-2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/952508112982659132/258.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="/page/god eater" class="btn btn-outline-dark">Overview</a>
            </div>
          </div>
        </div>      
      </div>
      <!-- เเถว 3 เรื่อง 2 -->
      <div class="col-md-2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/952508112659693588/159.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="/page/guilty crown" class="btn btn-outline-dark">Overview</a>
            </div>
          </div>
        </div>     
      </div>
      <!-- เเถว 3 เรื่อง 3 -->
      <div class="col-md-2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/952508113272070214/369.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="/page/Hunter X Hunter" class="btn btn-outline-dark">Overview</a>
            </div>
          </div>
        </div>        
      </div>
    <!-- เเถว 3 เรื่อง 4 -->
      <div class="col-md-2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/891614802424774687/953682619663515648/Toriko.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="/page/Toriko" class="btn btn-outline-dark">Overview</a>
            </div>
          </div>
        </div>
      </div>
    <!-- คอลัมกรอปเเจ้งปัญหา -->
      <div class="col-md-4">
        <div class="card border-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Contract&Questions</div>
          <div class="card-body text-dark">
            <h5 class="card-title">Something wrong?</h5>
            <p class="card-text"></p>
            
          </div>
        </div>
      </div>
    </div>
  </midpoint3>

<!-- ปุ่มกดหน้าถัดไป -->
  <midpoint4>
    <div class="row">
      <div class="col-md-8">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </midpoint4>

<!-- End credits(footer) -->
  <end>
    <div class="container-fluid">
      <footer class="text-center text-dark">
        <div class="container p-4 pb-0">
          <section class="mb-4">
            <a class="btn btn-outline-secondary btn-floating m-1" href="https://www.facebook.com/weerapathiranpong" role="button"
              ><i class="fa fa-facebook-official fa-lg"></i>
            </a>
            <a class="btn btn-outline-secondary btn-floating m-1" href="#" role="button"
              ><i class="fa fa-twitter fa-lg"></i>
            </a>
            <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-instagram fa-lg"></i>
            </a>
            <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-youtube fa-lg"></i>
          </a>
          </section>
        </div>
        <div class="text-center p-3">
          © 2020 Copyright:
          <a class="text-dark" href="#">Final Web Project By 9, 14, 25</a>
        </div>
      </footer>
    </div>
  </end>
</body>
{% endblock %}