
* {
  box-sizing: border-box;
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
 }


/* ตัวครอบเว้นระยะห่างเเต่ละช่อง*/ 
header {
  	padding: 20px;
}

midpoint4 {
	padding: 30px;
}

midpoint3 {
	padding: 20px;
}

midpoint2 {
  	padding: 10px;
}

midpoint {
  	padding: 30px;
}

bar{
	padding: 0px;
}

/* Navbar login */ 
.navbar .login-form label {
	color: #888;
	font-weight: normal;
}
.navbar .dropdown-menu.login-form {
	width: 280px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}
.navbar .navbar-nav .dropdown-menu.login-form a {
	padding: 0 !important;
	color: #5c6ac4;
	font-weight: normal;
}
.navbar .navbar-nav .dropdown-menu.login-form a:hover{
	text-decoration: underline;
}

.container-md {
	padding-top: 20px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 25px;
	margin: 5px; }

.container {
   padding-top: 20px;
   padding-bottom: 25px;
   padding-right: 25px;
   padding-left: 25px;
   border-radius: 25px;
   margin: 5px; }

.fw-bolder {
   font-size: 40px;
}

img {
   border-radius: 5%;
 }

p1{
   font-size: 30px;
}

body {
   font: 15px arial, sans-serif;
   background-color: #d9d9d9;
   padding-top: 15px;
   padding-bottom: 15px;
 }
 
 #bodybox {
   margin: auto;
   max-width: auto;
   font: 15px arial, sans-serif;
   background-color: #ffffff;
   border-style: solid;
   border-width: 1px;
   padding-top: 20px;
   padding-bottom: 25px;
   padding-right: 25px;
   padding-left: 25px;
   box-shadow: 5px 5px 5px grey;
   border-radius: 15px;
 }
 
 #chatborder {
   border-style: solid;
   background-color: #f6f9f6;
   border-width: 3px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
   padding-top: 10px;
   padding-bottom: 15px;
   padding-right: 20px;
   padding-left: 15px;
   border-radius: 15px;
 }
 
 .chatlog {
	font: 15px arial, sans-serif;
 }
 
 #chatbox {
   font: 17px arial, sans-serif;
   height: 22px;
   width: 100%;
 }
 
 h1 {
   margin: auto;
 }
 
 pre {
   background-color: #f0f0f0;
   margin-left: 20px;
 }
  
